.App {
  background: linear-gradient(#1F1805, #222);
  text-align: center;

  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

#navbar {
  position: fixed;

  margin-left: 0rem;
}

#main-view {
  height: 100vh;
  width: 100vw;
}