#profile-component {
    background: #111;
    float: right;
    height: 100vh;
    width: calc(100% - 15rem);

    text-align: center;
}

#profile-picture {
    height: 8rem;
    width: 8rem;

    margin-top: 3rem;
    border-radius: 8rem;

    box-shadow: 0 0 10px black;
}

#profile-name {
    color: white;

    font-family: 'Arial', 'sans-serif';
    font-size: 2rem;
    font-weight: bold;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#follow-section {
    display: inline-block;
    background: #333;

    height: 6.5rem;
    width: 9rem;
}

.follow-num {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
}

.follow-text {
    color: white;
    font-size: 1rem;
}